@{
    ViewData["Title"] = "Agenda";
    ViewData["activeTab"] = "agenda";
}
@using Theater_De_Rinkelaar.Databases
@model List<Voorstelling>


@foreach (var voorstelling in Model)
{
    <div class="row">
        <div class="column">
            <h1>@voorstelling.Datum van @voorstelling.Begintijd tot @voorstelling.Eindtijd :</h1>
            <h2>@voorstelling.Naam</h2>
            <br> @voorstelling.Beschrijvingkort <br> er zijn nog @voorstelling.Beschikbaarheid kaartjes
            <a class=agendaknop href="/voorstelling/@voorstelling.Id">Koop snel kaartjes!</a>
        </div>
    </div>
}
