@{
    ViewData["Title"] = "Agenda";
    ViewData["activeTab"] = "agenda";
}
@using Theater_De_Rinkelaar.Databases
@model List<Voorstelling> 


<ul>
@foreach (var product in Model)
{
    <div class="row">
        <div class="column">
        <li><h1>@product.Datum van @product.Begintijd tot @product.Eindtijd :</h1><h2>@product.Naam</h2> <br> @product.Beschrijvingkort <br> er zijn nog @product.Beschikbaarheid kaartjes</li>
        <a class=knop href="/voorstelling/@product.Id">Koop snel kaartjes!</a>
    </div>
    </div>
}
</ul>