@{
    ViewData["Title"] = "Agenda";
    ViewData["activeTab"] = "agenda";
}
@using Theater_De_Rinkelaar.Databases
@model List<Product> 


<ul>
@foreach (var product in Model)
{
    <div class="row">
        <div class="column">
        <li><h1>@product.Datum @product.Tijd :</h1><h2>@product.Naam</h2> <br> @product.Beschrijvingkort <br> er zijn nog @product.Beschikbaarheid kaartjes</li>
        </div>
    </div>
}
</ul>